<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title>Welcome to Our Site</title>
</head>
<body>

<div layout:fragment="content">
    <section class="my-5">
        <div class="container">
            <div class="row">
                <h1>Редагувати користувача</h1>
                <div class="col-md-12">
                    <form action="#" th:action="@{/edit/{id}(id=${user.id})}" th:object="${user}" method="post">
                        <div class="form-group">
                            <label for="name">Ім'я</label>
                            <input type="text" class="form-control" th:field="*{name}" id="name">
                            <span class="invalid text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
                        </div>
                        <div class="form-group">
                            <label for="email">Електронна адресса</label>
                            <input type="email" class="form-control" th:field="*{email}" id="email">
                            <span class="invalid text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
                        </div>
                        <button class="btn btn-primary" type="submit">Зберегти</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
</body>